{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="nosotros pt-4 py-4">
  <div class="container pt-4 py-4">
    <div class="card">
      <div class="card-body">
        <br>
        <p class="ficha_titulo text-center">Sobre nosotros</p>
        <p class="texto_nosotros">
          ¡Bienvenido a XVerse!
          Somos tu destino único y especializado para todos tus deseos relacionados con los videojuegos.
          En XVerse, nos apasiona ofrecerte una selección curada de los mejores títulos de videojuegos para todas las plataformas,
          desde las consolas más populares hasta los juegos para PC más emocionantes.
        </p>
        <p class="texto_nosotros">
          Explora nuestra amplia colección de juegos que abarca todos los géneros imaginables,
          desde épicas aventuras de acción hasta desafiantes juegos de estrategia y éxitos indie
          que están revolucionando la escena del gaming. Ya sea que busques los últimos lanzamientos
          o clásicos atemporales, estamos aquí para asegurarnos de que encuentres exactamente lo que buscas.
        </p>
        <p class="texto_nosotros">
          Con precios competitivos y promociones exclusivas,
          XVerse se esfuerza por ofrecerte las mejores ofertas en tus juegos favoritos.
          Nuestro equipo de expertos está siempre disponible para brindarte asesoramiento personalizado
          y recomendaciones basadas en tus intereses individuales, para que puedas encontrar el juego perfecto para ti.
        </p>
        <p class="texto_nosotros">
          Ya seas un jugador experimentado o un novato entusiasta, XVerse está aquí para satisfacer todas 
          tus necesidades de gaming. Únete a nosotros y descubre un mundo de diversión ilimitada en el emocionante 
          universo de los videojuegos. ¡Que comience la aventura!
        </p>
        <div class="tarjeta_persona row justify-content-between">
          <div class="col p-2 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'core/img/foto_3.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Shin</h5>
                <p class="card-text">Gerente General</p>
                <a href="#" class="text-reset">shinshin@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="col p-2 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'core/img/foto_2.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Boo</h5>
                <p class="card-text">Encargado de Marketing</p>
                <a href="#" class="text-reset">boomarketing@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="col p-2 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'core/img/foto_1.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lucky</h5>
                <p class="card-text">Atencion de Clientes</p>
                <a href="#" class="text-reset">luckyclientes@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
{% endblock content %}